/* CSS Document */
/*全局样式*/
*{margin:0;padding:0; list-style:none;font-family:Microsoft Yahei,SimHei;}
header,nav,section,footer{ display:block;}
.clearfix:after { clear:both; content:"";display:block;font-size:0;height:0;visibility:hidden}
.clearfix {zoom:1}
.marginT10{ margin-top:15px;}
.marginL10{ margin-left:1%;}
.floatL{ float:left;}
.floatR{ float:right;}
html{height:100%;}
body{font-family:Microsoft Yahei,SimHei;font-size:12px;line-height:20px;color:#fff;background:#183459 url(../images/loginBG.jpg) no-repeat;background-size:100% 100%;width:100%;height:100%;box-sizing:border-box;}
input,select.option{font-family:Microsoft Yahei,SimHei;outline:none;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {position:inherit;margin-top:4px \9;margin-left:0px;}
.wrapper{_height:100%;min-height:100%; }
/*头部样式*/
header{width:100%;height:83px;border-bottom:#49a5fd solid 1px;background:#3b9efd;}
.logo{float:left;width:150px;height:50px;margin:15px 0 0 21px;border-right:#76bbfe solid 1px;;padding:5px 33px 0 0;}
.logo img{float:left; width:111px; height:41px; border:0;}
header h2{float:left; font-size:28px; line-height:83px; font-weight:normal; margin:0 0 0 40px;text-shadow: 0px 2px 1px #333;}
.BG{position:absolute;top:0;}
.BG{width:100%;height:99.7%;}
.BG img{width:100%;height:100%;}
.loginBox{width:80%;border:#71baff solid 1px;position:absolute;right:10%;top:20%;box-sizing:border-box; overflow:hidden;z-index:99999;}
.loginBox .tit{width:100%;height:49px;line-height:49px;box-sizing:border-box;overflow:hidden;border-bottom:#6fb9ff solid 1px;background:rgba(72,159,242,0.8);}
.login-logo{font-size:20px;}
.loginBox .tit h4{font-size:16px;color:#fff; padding-left:20px;}
.loginBox .detail{z-index:99999;overflow:hidden; color:#fff; padding:20px;background:rgba(255,255,255,0.3);width:100%;font-size:16px;box-sizing:border-box; } 
.loginBox .detail ul li{width:90%; margin:0 auto 22px auto; line-height:39px; overflow:hidden; color:#333;font-size:14px;}
.loginBox .detail ul li.inputBox{ border:#9ac6ee solid 1px; height:39px; line-height:39px; background:rgba(255,255,255,0.5);border-radius:3px}
.loginBox .detail ul li.inputBox input{ display:block; float:left; width:85%; height:39px; line-height:39px; color:#333; background:none; border:0; padding:0 3%;box-sizing:border-box;}
.loginBox .detail ul li.inputBox span{ display:block;float:left; width:26px; height:39px;}
.loginBox .detail ul li.inputBox span.userName{background:url(../images/loginIcon.png) no-repeat 0px 5px;}
.loginBox .detail ul li.inputBox span.password{ background:url(../images/loginIcon.png) no-repeat -39px 6px;}
.loginBox .detail ul li a{ display:block; float:right; color:#333; font-size:12px; text-decoration:underline;}
.loginBox .detail ul li input[type=checkbox]{ vertical-align:middle}
.loginBox .detail ul li input[type=button]{width:100%;height:47px; border:#69fa38 solid 1px;background:rgba(93,194,2,0.8);
 color:#fff;font-size:18px;text-shadow:0px 0px 3px #666;}
.loginBox .detail ul li a.btn{border-radius:2px;width:40%;height:29px; line-height:29px; text-align:center; text-decoration:none; border:#22a1ef solid 1px;box-sizing:border-box; background:#1b70c0;color:#fff;}
.loginBox .detail ul li a:nth-child(1).btn{ margin-left:20%;}

.other{float:left;width:500px;overflow:hidden;position:absolute;left:10%;bottom:10%;}
.other p{ float:left;}
.other p img{ float:left;}
.other p span{ display:block;float:left;  width:68px; height:68px; margin-left:10px; text-align:center;background:url(../images/sys.png) no-repeat; padding-top:12px;}
.other a{ display:block; float:left;border-radius:5px; border:#fff solid 1px; width:118px; height:66px; margin-left:31px; text-align:center; color:#fff; text-decoration:none;}
.other a:hover{ background:rgba(225,255,255,0.6);color:#333;}
.other a span{display:block;width:27px;height:40px; margin:0 auto;background:url(../images/icon.png) no-repeat;}
.other a span.Android{ background-position:0 -202px}
.other a span.iPhone{ background-position:-39px -202px}
.other a:hover span.Android{ background-position:-78px -202px}
.other a:hover span.iPhone{ background-position:-113px -202px}
.copyright{ float:right; padding-top:30px;color:rgba(255,255,255,0.6); }
/*累计数据*/
.cumulative_data{ width:100%;position:absolute;left:0;bottom:0.3%;border:#25acfe solid 1px;height:70px;box-sizing:border-box;font-size:14px; padding-top:12px;background:rgba(34,166,246,0.8);}
.cumulative_data dl{float:left; width:30%; height:46px; line-height:46px;  border-left:#5b9dd3 solid 1px;border-right:#2067ac solid 1px; padding-left:3%;}
.cumulative_data dl:nth-child(1){border-left:0;}
.cumulative_data dl:nth-child(3){border-right:0;}
.cumulative_data dl dt{ float:left;background:url(../images/icon.png) no-repeat; width:33px; height:33px; margin-top:13px; }
.cumulative_data dl dt.data_icon1{background-position:0 -129px;}
.cumulative_data dl dt.data_icon2{background-position:-50px -127px;}
.cumulative_data dl dt.data_icon3{background-position:-103px -129px;}
.cumulative_data dl dd{ float:left;}
.cumulative_data dl dd strong{ font-size:18px; color:#69ee3b; padding:0 5px 0 10px; font-weight:normal;}

.sunshine{width:427px;height:373px;position:absolute;top:6%;left:20%;animation:rotation 100s linear infinite;-webkit-animation:rotation 100s linear infinite;-moz-animation:rotation 100s linear infinite;}
.fan{width:90%;height:373px;position:absolute;bottom:0}
.fan dl{float:left;overflow:hidden;}
.fan dl.fan01{width:187px;height:280px;position:absolute;bottom:20%;left:3%;}
.fan dl.fan02{width:140px;height:220px;position:absolute;bottom:20%;left:30%;}
.fan dl.fan03{width:100px;height:160px;position:absolute;bottom:15%;left:55%;}
.fan dl dt{margin:0 auto;position:absolute;}

.fan dl.fan01 dt{width:40px;height:180px;top:80px;left:62px;background:url(../images/fj_g_d.png) no-repeat;}
.fan dl.fan02 dt{width:30px;height:141px;top:60px;left:42px;background:url(../images/fj_g_z.png) no-repeat;}
.fan dl.fan03 dt{width:20px;height:94px;top:46px;left:32px;background:url(../images/fj_g_x.png) no-repeat;}

.fan dl dd{position:absolute;top:0;left:0;overflow:hidden;}
.fan dl.fan01 dd{width:187px;height:185px;animation:rotation 4s linear infinite;-webkit-animation:rotation 4s linear infinite;-moz-animation:rotation 4s linear infinite;}
.fan dl.fan02 dd{width:140px;height:135px;animation:rotation 3s linear infinite;-webkit-animation:rotation 3s linear infinite;-moz-animation:rotation 3s linear infinite;}
.fan dl.fan03 dd{width:100px;height:99px;animation:rotation 2s linear infinite;-webkit-animation:rotation  2s linear infinite;-moz-animation:rotation 2s linear infinite;}



@keyframes rotation {
	  0% {transform:rotate(0deg);}
	  100% {transform:rotate(360deg);}
	  }
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);}
   100% {-webkit-transform:rotate(360deg);}
      }
@-moz-keyframes rotation {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
      }





	  
@media (min-width:260px){
	header h2{font-size:28px;}
	.sunshine{left:-8%;}
	.loginBox{width:80%;margin:12% auto 0 auto;}
	.other{position:absolute;left:10%;bottom:8%;}
	.fan{width:90%;height:5%;position:absolute;bottom:0}
	}
@media (min-width:1024px){
	header h2{font-size:28px;}
	.sunshine{left:13%;}
	.loginBox{width:350px;right:10%;top:10%;}
	.other{position:absolute;left:10%;bottom:8%;}
	.fan{width:90%;height:10%;position:absolute;bottom:0}
	}
@media (min-width:1200px){
	.loginBox{width:350px;right:10%;top:5%;}
	.other{position:absolute;left:10%;bottom:15%;}
	.fan{width:90%;height:373px;position:absolute;bottom:0%}
	}
	
	
@media (min-width:1600px){
	.loginBox{width:350px;right:10%;top:5%;}
	.other{position:absolute;left:10%;bottom:15%;}
	.fan{width:90%;height:373px;position:absolute;bottom:4%}
	}