/* ********** 搜索框展示样式 *********** */
.marginB10{margin-bottom:10px;}
.marginL10{margin-left:10px;}
.marginL25{margin-left:25px;}
.floatL {float: left;}
.floatR {float: right;}
body{font-family:Microsoft Yahei,SimHei;}

/*针对表单的复写样式*/
.form-inline .form-control{width:163px;height:30px;padding:3px 5px;}
.form-inline .form-group label{display:block;width:100px;height:30px;line-height:30px;float:left;text-align:right}
.select2-container--default .select2-selection--single{border-radius:0;}
.select2-container .select2-selection--single{height:30px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:24px;}

/*针对表格的复写样式*/
.table>thead>tr>th {background:#89BCEA;color:#004D95;font-size:12px;font-weight:normal;text-align:center;}
.table>tbody>tr>td {color: #333;font-size:12px;}
.table{width:100% !important;}

table.dataTable thead > tr > th{padding:5px;}
